#logo {
  font-family: 'Kodchasan', sans-serif;
  color: rgb(0, 0, 0);
}

#userName {
  font-weight: 300;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

.form-control.input-text {
  background-color: #9DE1FA;
  border: 0px;
}

.btn-search {
  border-left: 1px solid #68D0FF;
}

.search-navbar-form-field {
  background-color: #9DE1FA;
  width: 35%;
  margin: 5px 0px;
}


#navbar-up {
  color: #eeee;
  height: 6vh;
  background-color: #68D0FF;
}

#navbar-down {
  height: 6vh;
  background-color: #E2E9EC;
  justify-content: space-between;
}

#navbar-down a {
  border-right: 1px solid rgb(200, 200, 200);
  border-radius: 0px;
  border-collapse: 1px;
  color: #525252;
  font-weight: 200;
}

.logo-navbar-down a {
  border: 0px;
  background-color: #68D0FF;
  height: 30px;
  font-weight: 400;
}
